h1{
  text-align:center;
  fontfamily:verdana,arial;
  color:Green;
  font-size:40px;
  font-weight:bold;
}
p{
  background-color:white;
  color=black;
  font-size=15pt;
  padding=10px;
  width=50%;
  font-weight=extrabold;
  margin:auto;
  text-align:justify;
  line-height:20pt;
  font-family:Serif;
}
